<h1><%= @project.name %></h1>
<h4>Material: <%= @project.material %></h4>
<h4>Challenge Theme: <%= @challenge.theme %> </h4>
<h4>Number of Contestants: <%= @project.contestant_count %></h4>
<h4>Average Contestant Experience: <%= @project.avg_contestant_experience %> years</h4>
